<style>
    .toolbar {
    /* height: 60px; */
    /* margin: -8px; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    }

    .toolbar .toolbar-right{
        display: flex;

    }
    
    .toolbar .toolbar-right h3{
        padding: 0 1.5em;

    }

    /* .right{
    text-align: center;
    position: absolute;
    right: 0px;
    } */
</style>

 <div class="toolbar">
     <h1> SMB </h1>
     <div class="toolbar-right">
         <h3>Help</h3>
         <h3>Account</h3>
         <h3>Login</h3>
     </div>
     <!-- <h1 class="right"> Login </h1> -->
 </div>